<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <title>{% block title %}{% endblock %} | HSBC TR Toolkit</title>

        <meta name="description" content="HSBC Toolkit for various internal tools such as CCR, MR etc.">
        <meta name="author" content="Siddharth Shankar">
        <meta name="robots" content="noindex, nofollow">

        <!-- Icons -->
        <link rel="apple-touch-icon" sizes="180x180" href=" {{ url_for('static', filename='media/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='media/favicons/favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='media/favicons/favicon-16x16.png') }}" sizes="16x16">
        <link rel="shortcut icon" href="{{ url_for('static', filename='media/favicons/favicon.ico') }}">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/gfonts/gfonts.css') }}">
        <link rel="stylesheet" id="css-main" href="{{ url_for('static', filename='css/codebase.min.css') }}">
        <link rel="stylesheet" id="css-theme" href="{{ url_for('static', filename='css/pulse.min.css') }}">
        <!-- END Stylesheets -->
    </head>
    <body>
            <!-- Page Container -->
            <div id="page-container" class="main-content-boxed">
                {% block main %}{% endblock %}
            </div>
            <!-- Codebase JS -->
            <script src="{{ url_for('static', filename='js/codebase.core.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/codebase.app.min.js') }}"></script>
    </body>
</html>