<!-- Horizontal Form Select Paths-->
<div class="block block-themed d-none" id="select-paths">
    <div class="block-header bg-primary-dark">
        <h3 class="block-title">Select Paths</h3>
        <a href="{{ url_for('download_file', filename='Path_Updates.csv') }}" class="btn btn-alt-secondary block-options" data-toggle="click-ripple">Download Path File</a>
    </div>
    <div class="block-content">
        <form id="upload_paths_form" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" >Upload Path File</label>
                <div class="col-8">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="path_file" name="path_file">
                        <label class="custom-file-label" for="path_file">Choose File</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-9 ml-auto">
                    <button id="upload_paths_btn" type="submit" class="btn btn-success" data-toggle="click-ripple">
                        <i class="fa fa-upload"></i> Upload
                    </button>
                </div>
            </div>
        </form>
        <h6 ><span class="text-danger">*</span><i><mark>Note: If weekly, add weekly COB file path, else add monthly COB file path for Previous OTCSensitivity and Previous STAVROS Sensitivity!</mark></i></h6>
    </div>

    <!-- Bordered Table -->
<div class="block block-themed table-responsive d-none" id="{{flag}}">
    <div class="block-header bg-primary-dark">
        <h3 class="block-title">Uploaded Paths</h3>
    </div>
    <div class="block-content">
        <table class="table table-bordered table-hover table-vcenter">
            <thead class="thead-light">
                <tr>
                    <th class="text-center" style="width: 50px;">#</th>
                    <th>Path Variables</th>
                    <th>File Paths</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data: %}
                <tr>
                    <th class="text-center" scope="row">{{ row[0] }}</th>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- END Bordered Table -->
</div>
<!-- END Horizontal Form Select Paths-->

