<!-- Horizontal Form MI Info-->
<div class="block block-themed d-none" id="mi-info">
    <div class="block-header bg-primary-dark">
        <h3 class="block-title">MI Info</h3>
    </div>
    <div class="block-content">
        <form id="mi_info_form" method="post">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label">Select Weekly/Monthly</label>
                <div class="col-lg-7">
                    <div class="custom-control custom-radio custom-control-inline mb-5">
                        <input class="custom-control-input" type="radio" name="sel_week_mon" id="sel-week-mon1" value="1" checked>
                        <label class="custom-control-label" for="sel-week-mon1">Weekly</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline mb-5">
                        <input class="custom-control-input" type="radio" name="sel_week_mon" id="sel-week-mon2" value="2">
                        <label class="custom-control-label" for="sel-week-mon2">Monthly</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" for="otc-exp-cob">Select OTC Exposure COB</label>
                <div class="col-lg-7">
                    <input type="text" class="js-datepicker form-control" id="otc-exp-cob" name="otc_exp_cob" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" for="otc-sensi-cob">Select OTC Sensitivity COB</label>
                <div class="col-lg-7">
                    <input type="text" class="js-datepicker form-control" id="otc-sensi-cob" name="otc_sensi_cob" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" for="exp-stavros-cob">Select OTC Exposure STAVROS COB</label>
                <div class="col-lg-7">
                    <input type="text" class="js-datepicker form-control" id="exp-stavros-cob" name="exp_stavros_cob" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" for="sensi-stavros-cob">Select OTC Sensitivity STAVROS COB</label>
                <div class="col-lg-7">
                    <input type="text" class="js-datepicker form-control" id="sensi-stavros-cob" name="sensi_stavros_cob" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" >
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" data-toggle="tooltip" title="If weekly, select weekly COB, else select monthly COB!" for="prev-sensi-cob">Select OTC Previous Sensitivity COB</label>
                <div class="col-lg-7">
                    <input type="text" data-toggle="tooltip" title="If weekly, select weekly COB, else select monthly COB!" class="js-datepicker form-control" id="prev-sensi-cob" name="prev_sensi_cob" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" >
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-lg-9 ml-auto">
                    <button id="mi_info_btn" type="submit" class="btn btn-success" data-toggle="click-ripple">
                        <i class="fa fa-hand-o-up"></i> Set
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END Horizontal Form MI Info-->