<!-- Horizontal Form Start-->
<div class="block block-themed d-none" id="start">
    <div class="block-header bg-primary-dark">
        <h3 class="block-title">Start</h3>
        <div class="block-options">
            <div class="block-options-item">
                <i class="fa fa-clock-o"></i> Elapsed Time: 
            </div>
            <div class="block-options-item elapsed_time">
                 
            </div>
        </div>
    </div>
    <div class="block-content">
        <form id="start_form" method="post" onsubmit="return false;">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" for="site_select">Select Site</label>
                <div class="col-lg-7">
                    <select class="js-select2 form-control" id="site_select" name="site_select" style="width: 100%;" data-placeholder="Select Sites..." multiple="multiple">
                        <option></option>
                        <option value="1">SITE #1</option>
                        <option value="2">SITE #2</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" for="scenarios_select">Select Scenarios</label>
                <div class="col-lg-7">
                    <select class="js-select2 form-control" id="scenario_select" name="scenarios_select" style="width: 100%;" data-placeholder="Select Scenarios..." multiple="multiple">
                        <option></option>
                        <option value="1">Scenario #1</option>
                        <option value="2">Scenario #2</option>
                        <option value="3">Scenario #3</option>
                        <option value="4">Scenario #4</option>
                        <option value="5">Scenario #5</option>
                        <option value="6">Scenario #6</option>
                        <option value="7">Scenario #7</option>
                        <option value="8">Scenario #8</option>
                        <option value="9">Scenario #9</option>
                        <option value="10">Scenario #10</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" for="risk_factor_select">Select Risk Factor</label>
                <div class="col-lg-7">
                    <select class="js-select2 form-control" id="risk_factor_select" name="risk_factor_select" style="width: 100%;" data-placeholder="Select Codes..." multiple="multiple">
                        <option></option>
                        <option value="1">FX</option>
                        <option value="2">IR</option>
                        <option value="3">IF</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-lg-9 ml-auto">
                    <button type="submit" class="btn btn-success" data-toggle="click-ripple" onclick="getProgress();">
                        <i class="fa fa-play"></i> Start Process
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label" ></label>
                <div class="col-lg-7">
                    <div class="progress" style="width: 100%;">
                        <div class="progress-bar progress-bar-striped active"
                          role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                          <span class="progress-bar-label">0%</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>
<!-- END Horizontal Form Start-->