<!-- Horizontal Form Export Excel Reports-->
<div class="block block-themed d-none" id="export-reports">
    <div class="block-header bg-primary-dark">
        <h3 class="block-title">Export Excel Reports</h3>
    </div>
    <div class="block-content">
        <form id="exp_excel_rep_form" action="" method="post" onsubmit="return false;">
            
            <div class="form-group row">
                <div class="col-lg-8 ml-auto">
                    <button type="submit" class="btn btn-primary" data-toggle="click-ripple">
                        <i class="fa fa-file-excel-o"></i> Generate Exposure Reports
                    </button>
                    <button type="submit" class="btn btn-info" data-toggle="click-ripple">
                        <i class="fa fa-file-excel-o"></i> Generate Combined Reports
                    </button>
                    <button id="crdiv-rep" type="submit" class="btn btn-success d-none" data-toggle="click-ripple">
                        <i class="fa fa-file-excel-o"></i> Generate CRDIV Reports
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END Horizontal Form Export Excel Reports-->